body {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.CatalogFilms {
  width: 1020px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

.CatalogFilms-films {
  display: block;
  width: 70%;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px 10px 50px;
  margin: 0 auto;
  border-radius: 4px;
}