.AddFilms-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

.AddFilms-input {
  width: 80%;
  height: 33px;
  border: 1px solid #ccc;
  padding: 0 5px;
  margin: 7px 5px;
  border-radius: 4px;
}

.AddFilms-btn {
  width: 110px;
  height: 33px;
  line-height: 30px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  border: 1px solid green;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}